@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,400;1,300&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;

}

body {
    background:#151515;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.section2{
    height: 100vh;


  
}

#section-3{
    height: 100vh;
    background-color: red;
}


/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    z-index: 100000;
    background: white;
    color: black;
    opacity: 0.95;
}


header .logo {
    position: absolute;
    padding-left:0px ;
    padding-top: 50px;
    
}

header .logo img{
    padding-top: 30px;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 5px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    padding: 10px;
    transition: .5s;
    font-family: 'Fira Sans', sans-serif;
}

header ul li a:hover {


    border-radius: 10px;
background: white;
box-shadow: inset 5px 5px 10px #c7c7c7,
            inset -5px -5px 10px #f9f9f9;

 color: black;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(media/nuage.png) ;
    margin-top: 0;
    background-size:cover ;
}



/* FOOTER */

.footer{
    margin-top: 30px;
}
.footer-in{
    margin: 0;
    padding: 0;
    background-color: #202020;


}

.footer-rs{
    display: flex;
}

.footer-rs ul{
    padding: 10px;
    display: flex;
    width: 300px;
    height: 20px;
    margin: auto;
}

.rs-items{
    list-style: none;
     padding: 10px 50px;
}

.rs-items a{
    padding: 15px 13px;
}

.footer-contenu-lien{
    display: flex;
    width: 800px;
    height: 70px;
    margin: 60px 0 0 400px;


}

.footer-contenu-lien ul{
    display: flex;
}

.footer-lien{
    list-style: none;
}

.footer-lien a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    color: white;  

}

.footer-lien a:hover{   
    border-bottom : 3px white solid;
    padding-bottom: 5px;
    color: white;
}
.sous-footer{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 10px;
    background: grey;

}


/* BOUTON DE DEFILEMENT */

.scroll-down{
    position: absolute;
    height: 50px;
    width: 30px;
    border: 2px solid white;
    left: 50%;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
    top: 20%; 
    animation-delay: .2s;
}
@keyframes scroll-down{
0%{
    opacity: 0%;
}
30%{
    opacity: 1;
  }  
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}
}


.scroll-down2{
    position: relative;
    height: 50px;
    width: 30px;
    border: 2px solid white;
    margin-top: -50px;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    left: 50%;
}

.scroll-down2::before,
.scroll-down2::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down2::after{
    top: 20%; 
    animation-delay: .2s;
}
@keyframes scroll-down2{
0%{
    opacity: 0%;
}
30%{
    opacity: 1;
  }  
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}
}

.scroll-down3{
    position: relative;
    height: 50px;
    width: 30px;
    border: 2px solid white;
    margin-top: -120px;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    left: 50%;
}

.scroll-down3::before,
.scroll-down3::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down3::after{
    top: 20%; 
    animation-delay: .2s;
}
@keyframes scroll-down3{
0%{
    opacity: 0%;
}
30%{
    opacity: 1;
  }  
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}
}

#presentation{
    font-size: 1px;
    position: relative;
    color: black;
}
#presentation  p, a {
    color: white;
    text-decoration:underline;
    list-style: none;
}

#presentation  p, a:hover {
    color: red;
    text-decoration:none;
    list-style: none;
}
#choix{
    font-size: 1px;
    position: relative;
top: -20px;
    color: white;
}

#debouchÃ©s{
    font-size: 1px;
    position: relative;
top: 70px;
    color: white;
}
/* LES TITRES */




#titre{
    position:relative;
    color: white;
    font-size: 90px;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 17%;
    /*margin: 300px 0 0 650px;*/
    font-family: 'Fira Sans', sans-serif;
}

.titre2{
    text-align: center;
    padding-top: 22%;
    font-size: 50px;
}

#h1titre{
    color: #f2f2f2;
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    width: 100%; 
    text-align: center;
    text-decoration: underline;
    margin-top: 100px;

}

#h1titreprofil{
    color: #f2f2f2;
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    width: 100%; 
    text-align: center;
    text-decoration: underline;


}

/* PRESENTATION BTS */

#btssio{
    position: relative;
    width: 80%;
    left: 10%;
    height: auto;
    background-color:rgba(220, 220, 220, 0.4);
    border-radius: 20px;
    margin-top: 100px;
    padding: 0 10px 10px 10px;
    transition: all 0.2s;
    color: white;


}

#btssio:hover{
    box-shadow: 0 0 25px #000;                               

}

#btssio h1{
    text-align: left;
    padding: 15px 0 0 10px;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
}   

#btstexte {

    text-align: center;
    font-size: 20px;
    color: #f2f2f2;

}

#btstexte a{
    text-decoration: none;
    color: #090909;
    font-weight: bold;
    transition: 1.5s;
}

#btstexte a:hover{
    color: white;
    text-decoration: underline;

}

/* OPTION SISR ET SLAM

*/


.containerSISR{

margin-top: 75px;
margin-left: 200px;
position: relative;
}


.containerSISR, .carteSISR, .devantSISR, .derriereSISR {
  width: 400px;
  height: 600px;
  border-radius: 20px;
}

.devantSISR, .derriereSISR {  
/*   height: 100%; */
  background: url('media/sisr.jpg') ;
  /*media/sisr.jpg*/
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}



@supports(display:flex){
 .devantSISR, .derriereSISR{  
    display: flex;
    align-items: center;
    justify-content: center;
} 
  

.devantSISR {
  position: relative;
  padding: 0 15px;
  text-align: center;
}


.derriereSISR {
/*   display: none; */
  padding: 1em;
}

.devantSISR > *,
.derriereSISR > * {
  background-color: rgba(255, 255, 255, 0.75);
  color: black; 
  padding: 20px; 
}

.carteSISRtexte {
  padding: 0 4.5em 1em;
  line-height: 1.4;


}

.devantSISR h1{
    color: black ;
}

p:first-of-type {    
  margin-top: 0;
  padding: 1em 0 0;
    color: black;
    font-size: 18px;
}

/* FLIP CARD STYLING */
.containerSISR {
  perspective: 1000px;
}

.containerSISR:hover .carteSISR, 
.containerSISR.hover {
  transform: rotateY(-180deg);
}

.carteSISR {
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
}


.devantSISR {
  z-index: 2;
  transform: rotateY(0deg);
}

.derriereSISR {
  transform: rotateY(-180deg);
}




/* SLAM  */ 


.containerSLAM{

margin: -600px 0 100px 960px  ;
position: relative  ;
}



.containerSLAM, .carteSLAM, .devantSLAM, .derriereSLAM {
  width: 400px;
  height: 600px;
  border-radius: 20px;
  font-family: sans-serif;
}

.devantSLAM, .derriereSLAM {  
/*   height: 100%; */
  background: url('media/sisr.jpg') no-repeat;
    backface-visibility: hidden;
    top: 0;
    left: 0;
  position: absolute;

}


@supports(display:flex){
 .devantSLAM, .derriereSLAM{  
    display: flex;
    align-items: center;
    justify-content: center;
} 
  

.devantSLAM {
  position: relative;
  padding: 0 15px;
  text-align: center;
}


.derriereSLAM {
/*   display: none; */
  padding: 1em;
}

.devantSLAM > *,
.derriereSLAM > * {
  background-color: rgba(255, 255, 255, 0.75);
  color: black; 
  padding: 20px; 
}



.devantSLAM h1{
    color: black ;
}

p:first-of-type {  

    margin-top: 0;
    padding: 1em 0 0;
    color: black;
    font-size: 18px;
}

/* FLIP CARD STYLING */

.containerSLAM {
  perspective: 1000px;
}

.containerSLAM:hover .carteSLAM, 
.containerSLAM.hover {
  transform: rotateY(180deg);
}

.carteSLAM {
  transition: 0.7s;
  transform-style: preserve-3d;
  position: relative;
}


.devantSLAM {
  z-index: 2;
  transform: rotateY(0deg);
}

.derriereSLAM {
  transform: rotateY(-180deg);
}







/* LES DEBOUCHES*/


.h1debouche{
     color: #f2f2f2;
    font-family: sans-serif;
    font-size: 50px;
    position: relative;
    width: 100%; 
    text-align: center;
    text-decoration: underline;
    margin : 150px 0 75px 0;

}

.debouches{
    margin-bottom: 100px;

}

.containerdeboucheSISR {
    width: 550px;
    height: 500px;
    padding: 20px 30px 30px 40px;
    margin-left: 8%;
    border-radius: 10px;
    background-color: #EFEFEF;
}

.containerdeboucheSISR:hover{
    box-shadow: 0 0 25px #606060;
}

#defSISR{

    margin-bottom: 50px;
    font-size: 18px;
}

.deboucheSISR{
        font-size: 18px;
}


.containerdeboucheSLAM{
    position: relative;
    width: 550px;
    height: 500px;
    padding: 20px 30px 30px 40px;
    float: right;
    margin-right: 8%;
    margin-top: -500px;
    border-radius: 10px;
    background-color: #EFEFEF;
      font-size: 20px;
}

.containerdeboucheSLAM:hover{
    box-shadow: 0 0 25px #606060;
}

#defSLAM{
     margin-bottom: 30px;
     font-size: 20px; 
}

.deboucheSLAM{
    font-size: 18px;
}

/* PAGE PROFIL */

   /* Carte des compétences */

.containercompetences,
.cartecompetences,
.cartedevantcompetences,
.cartederrierecompetences {
  width: 850px;
  height: 400px;
  margin: 2em auto;  
  border-radius: 10px;
  margin-bottom: 100px;
}

.cartedevantcompetences,
.cartederrierecompetences {  
/*   height: 100%; */
  background-color: #333;
  box-shadow: 0 10px 35px #000;
      font-size: 20px;

}


@supports(display:flex){
 .cartedevantcompetences {  
    display: flex;
    align-items: center;
    justify-content: center;
  } 

.cartedevantcompetences {
  position: relative;
  padding: 0 1em;
}

.cartederrierecompetences {
/*   display: none; */
  padding: 1em;

}

.cartedevantcompetences > *{

  background-color: rgba(265, 265, 265, 0.8);    
        border-radius: 25px;
}



/* RETOURNEMENT DE LA CARTE COMPETENCES */


.containercompetences {
  perspective: 1000px;
}

.containercompetences:hover .cartecompetences, 
.containercompetences.hover {
  transform: rotateY(-180deg);
}

.cartecompetences {
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

.cartedevantcompetences,
.cartederrierecompetences {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.cartedevantcompetences {
  z-index: 2;
  transform: rotateY(0deg);
}

.cartederrierecompetences {
  transform: rotateY(-180deg);
}

/* MES COMPETENCES NIVEAU */

.containermescompetences{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 25px 75px 20px;
    flex-direction: column;
    justify-content: space-between;
}

.cartetitre{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
    box-shadow: 0 0 15px #fff;
    padding: 15px;    
}

.containermescompetences .bar:not(:last-child){
    margin-bottom: 15px;
}

.bar{
    width: 100%;
    background:#444;
    color: #fff;
    border-radius: 5px;

    text-align: center;
}

.bar-stat{
    padding: 8px 20px;
    border-radius: 5px;
}

#office{
    background: #d65c3d;
   
}

#html{
    background: #3755cc;
   
}

#sql{
    background: #d4a040;
  
}

#python{
    background: green;
    animation: pythonSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1)forwards;
}
#photoshop{
    background: darkblue;
    
}

#PHP{
    background: maroon;
   
}

/* PRESENTATION DU BTS */

.presentation{

    position: relative;
    text-align: center;
    font-size: 20px;
    color: #f2f2f2;
    left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color:rgb(100, 100, 100, 0.4);
    padding: 20px;
    border-radius: 15px;
    width:1200px;
    height: auto;
    
}

.presentation h1{
    color: white;
}



.presentation p{
    color: #f2f2f2;
    font-size: 20px;
}

/* PRESENTATION DU SERIOUS GAME */

.seriousgame{

    position: relative;
    text-align: justify;
    font-size: 20px;
    left: 7%;
    margin: 100px 0 100px 0;
    background-color:rgb(100, 100, 100, 0.4);
    padding: 20px;
    border-radius: 15px;
    width:1200px;
    height: 750px;

    
}

.seriousgame img{
    height: 300px;
    position: absolute;
    right: 10px;
    bottom: 30%;
    border-radius: 5px;
}

.seriousgame a{
    color: rgb(242, 71, 71);
    text-decoration:none;
    list-style: none;
}

.seriousgame a:hover{   
    
    color: black;
    transition: .3s;
}

.seriousgame h1{
    color: white;
    text-align: center;
}
.seriousgame p{
    color: white;
    height: auto;
    width: 700px;
}





/* CV ET LETTRE DE MOTIVATION */

.CVLM{

    text-align: center;
    color: white;
    text-decoration: underline;
    padding-top: 20px;
    font-size: 40px;

}
/* FLECHE DESCENDANTE PAGE 2*/


#competences{
position: relative;

}

#cvetlettre{
    position: relative;
    top: -70px;
}

.scroll-downp2{
    position: relative;
    height: 50px;
    width: 30px;
    border: 2px solid white;
    top: 150px;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    left: 50%;
}

.scroll-downp2::before,
.scroll-downp2::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-downp2::after{
    top: 20%; 
    animation-delay: .2s;
}
@keyframes scroll-downp2{
0%{
    opacity: 0%;
}
30%{
    opacity: 1;
  }  
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}
}


.scroll-downp3{
  position: relative;
    height: 50px;
    width: 30px;
    border: 2px solid white;
    margin-top: -80px;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    left: 50%;
}

.scroll-downp3::before,
.scroll-downp3::after{
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    border: 2px solid white;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -70%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

.scroll-downp3::after{
    top: 20%; 
    animation-delay: .2s;
}
@keyframes scroll-downp3{
0%{
    opacity: 0%;
}
30%{
    opacity: 1;
  }  
60%{
    opacity: 1;
}
100%{
    opacity: 0;
    top: 90%;
}

}


/* BOUTON TELECHARGEMENT*/

.boutondownload {
    position: relative;
    left: 16.8%;
    display: block;
    background-color: white;
    color: #444;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 220px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.2s;
}

.boutondownload:hover{
    background: #444;
    color: white;
    transform: scale(1.05)

}

.boutondownload2 {
    position: relative;
    left: 60%;
    margin-top:-53px;
    display: block;
    background-color: white;
    color: #444;
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 220px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    transition: all 0.2s;
}

.boutondownload2:hover{
    background: #444;
    color: white;
    transform: scale(1.05)

}


/* FORMULAIRE DE CONTACT*/

#zonecontact{
    font-size: 1px;
    position: relative;
    color: black;
    top: -83px;
}

form{
    position: relative;
    left: 10%;
    background: white;
    padding: 60px;
    border-radius: 10px;
    width: 45%;
    margin: 100px 0 0 0;
}

form label, h1{
   font-family: 'Roboto', sans-serif; 
   font-weight: bold;
   color: black;
}

form h1{

    font-size: 25px;
    font-weight: bold;    
}

form .separation{
    width: 100%;
    height: 1px;
    background-color: black;
}

form .corps-formulaire{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .boiteformu{
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gaucheformu .boiteformu input{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border : 1px solid #c9c9c9;
    outline-color: darkblue;
    border-radius: 5px;
}

form .corps-formulaire .gaucheformu .boiteformu i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: darkblue;
}

form .corps-formulaire .droiteformu .boiteformu i{
    position: absolute;
    left: 0;
    top: 25px;
    padding: 11px 8px;
    color: darkblue;
}

form .corps-formulaire .droiteformu{
    margin-left: 120px;
}

form .corps-formulaire .droiteformu .boiteformu{
    height: 100%;
}

form .corps-formulaire .droiteformu .boiteformu textarea{
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border : 2px solid #c9c9c9;
    outline-color: darkblue;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
    height: 72%;
}

form .pied-formulaire button{
    margin-top: 20px;
    background-color: darkblue;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover{
    transform: scale(1.05);
}




.direct-contact-container {
  max-width: 400px;

  position: relative;
  left: 65%;
  top: -300px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-itemm {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}

.veilleT{
    display: flex;
    background-color: #202020;
    border-radius: 50px;
    height: auto;
    width: 90%;
    margin: 5%;
;
}

.veilleT aside {
    
    height: 500px;
    width: 750px;
}



.veilleT div h1{
    padding-top: 10px;
    margin-left :25%;
    color: white;
    font-weight: bold;
    font-size: 30px;

}

.veilleT div p {

position: relative;
height: auto;
width: auto;
margin-right: 40px;
margin-top: 40px;
color : white;



}

.veilleT img{

    width: 350px;
    position: relative;
    top: 20%;
    margin-left: 20px;
    
}


.veilleT span {
    color :blue;
}


.outilT {
    display: flex;
    background-color: #202020;
    border-radius: 50px;
    height: 300px;
    width: 90%;
    margin: 5%;
    margin-top: -50px;

}
.outilT   h1{
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    width: 100%;
    margin-left: 30px;
    justify-content: center;
    
    
}

.outilT  img {
    margin-right: 150px;
    margin-top: 75px;
    width: 40%;
    height: 40%;   
}

/* TEST DE CARTE */

.container{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    left: 10%;
    margin-bottom: 100px;
    border-radius: 5px;
}

.container .cards{
position: relative;
width:500px;
height: 600px;
background: #000;
display: flex;
align-items: center;
border-radius: 10px;
}

.container .cards:before{

    content:''; 
    position : absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index:20;
    pointer-events: none;
}

.container .cards:nth-child(1) {
    background-image: linear-gradient(45deg, #ccff00, #09afff);
  }
  
  
.container .cards:nth-child() {
    background-image: linear-gradient(45deg, #ccff00, #09afff);
  }
  
.container .cards:nth-child(2) {
    background-image: linear-gradient(45deg, #e91e63, #ffeb3b);
  }
}

.container .cards .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container .cards  h2{
    margin: 10px;
    padding: 0px;
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.container .cards .overlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(#000000, 0.2); 
    transition: 0.5s;
    cursor: pointer;
}

.container .cards .overlay:hover{
  bottom :0;
  right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 10px;
}

.container .cards .overlay:before{
    content: 'Lire';
    position: absolute;
    top :0;
    left: 0;
    bottom :0;
    right: 0;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display :flex;
    justify-content: center;
    align-items: center;

}

.container .cards .overlay:hover:before{
    display: none;
    transition-delay: 0s;
}

.container .cards .content{
    padding :20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    color: #fff;
    border-radius: 5px;
}

.container .cards .content h2{
    margin: 0;
    padding: 0;
    text-align: center;

}

.container .cards .overlay:hover ~ .content{
opacity: 1;
visibility: visible;
transition: 0.2s;
transition-delay: 0.5s;

}


/* PHOTOSHOP */

.containerphoto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: auto;


  }
  
  .containerphoto img {
    border: 2px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 450px;
    
  }
  
  
/* NOTE DE FRAIS */

.containerphoto2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: auto;


  }
  
  .containerphoto2 img {
    border: 2px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 350px;
    
  }
  